
.error-part{
    width: 100%;
    height: 500px;
    background:linear-gradient(to bottom, #2167e0 0%, #a141a6 100%) ;
}

.error-page{
    text-align: center;
    padding-top: 100px;
}

.error-page h1{
    font-size: 100px;
    font-weight: bold;
    color: rgb(224, 27, 27);
}

.error-page h3{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.error-page span{
    font-size: 50px;
    font-weight: bold;
    color: rgb(224, 27, 27);
}

.error-page p{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.btn-error{
    border: 0;
    padding: 15px 25px;
    background-color: #ffff;
    color: rgba(0, 0, 0, 0.764);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}