#navbar-part .nav{
    background-color: #100908c7;
 
}

#navbar-part .navbar-part{
    color: #ceae0d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;

}



.btn-login{
    padding: 10px 20px;
    border: 0;
    background-color: rgb(16,76,186);
    color: #fff;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.navbar-text  a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding-right: 40px;
    
   
}

.navbar-part img{
    width: 50px;
    height: 50px;
}

.btn-signOut{
    padding: 10px 15px;
    color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(16, 35, 205);
    border-radius: 5px;
}

.text-white{
    color: #ffff;
}

.photo-url{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}