
.banner-part img{
    width: 100%;
    height: 600px;
    
}
.banner-part{
    position: relative;
}

.banner-part .banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.645);
}

.banner-part .banner-overlay h1{
    color: rgb(182, 182, 24);
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.banner-part .banner-overlay h3{
    color: #db891c;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;

}

.banner-part .banner-overlay p{
    text-align: center;
    color: #fff;
    
  
}



.banner-part .banner-text{
    position: relative;
}

.btn-ex{
   display: block;
   position: absolute;
   padding: 15px 30px;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   color: #db891c;
   background-color: #fff;
   border-radius: 30px;
   border: 2px solid #db891c;
   top: 125%;
   left: 50%;
   transform: translateX(-50%)translateY(-50%);
    
}













